# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# ========================
# 虚拟环境
# ========================
venv/

# ========================
# Django
# ========================
*.log
local_settings.py
staticfiles/
media/

# ========================
# IDE
# ========================
.idea/

# ========================
# Windows
# ========================
Thumbs.db
Desktop.ini

# ========================
# 其他
# ========================
.env
*.tmp
*.bak
